{% extends 'base.html.twig' %}

{% block title %}Livreur{% endblock %}

{% block body %}
    <h1>Livreur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idliv</th>
                <td>{{ livreur.idliv }}</td>
            </tr>
            <tr>
                <th>Nomliv</th>
                <td>{{ livreur.nomliv }}</td>
            </tr>
            <tr>
                <th>Prenomliv</th>
                <td>{{ livreur.prenomliv }}</td>
            </tr>
            <tr>
                <th>Telliv</th>
                <td>{{ livreur.telliv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('livreur_index') }}">back to list</a>

    <a href="{{ path('livreur_edit', {'idliv': livreur.idliv}) }}">edit</a>

    {{ include('livreur/_delete_form.html.twig') }}
{% endblock %}
