{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
    <h1>Administrateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id admin</th>
                <td>{{ administrateur.idadmin }}</td>
            </tr>
            <tr>
                <th>Nom admin</th>
                <td>{{ administrateur.nomadmin }}</td>
            </tr>
            <tr>
                <th>Prenom admin</th>
                <td>{{ administrateur.prenomadmin }}</td>
            </tr>
            <tr>
                <th>Tel admin</th>
                <td>{{ administrateur.teladmin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('administrateur_index') }}">back to list</a>

    <a href="{{ path('administrateur_edit', {'idadmin': administrateur.idadmin}) }}">edit</a>

    {{ include('administrateur/_delete_form.html.twig') }}
{% endblock %}
