{% extends 'base.html.twig' %}

{% block title %}Promotion index{% endblock %}

{% block body %}
    <h1>Promotion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idpromo</th>
                <th>DesignationPromo</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.idpromo }}</td>
                <td>{{ promotion.designationPromo }}</td>
                <td>{{ promotion.dateDebut ? promotion.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ promotion.dateFin ? promotion.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('promotion_show', {'idpromo': promotion.idpromo}) }}">show</a>
                    <a href="{{ path('promotion_edit', {'idpromo': promotion.idpromo}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('promotion_new') }}">Create new</a>
{% endblock %}
